:root {
    --primary-color: #49B900;
    --secondary-color: #DFECE6; 
    --tertiary-color: #3CA2A2;
    --quartenary-color:#2D2D29;

}

body{
    width: 350px;
    background-color: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: var(--quartenary-color);
    font-size: 17px;
    padding: 14px;
}

span {
    font-size: 25px;
}

button {
    border-radius: 9px;
    border-style: none;
    padding: 10px;
    background-color: var(--primary-color) ;
    color: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
    color: var(--secondary-color);
}

.icon-info {
    width: 15px;
    padding-left: 10px;
}